
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-sidecar-config
  namespace: raboweb-linux-java
data:
  config.yaml: |
    receivers:
      filelog:
        include:
          - /azp/_diag/*.log
        start_at: beginning
        poll_interval: 200ms
        retry_on_failure:
          enabled: true
        include_file_path: true
        include_file_name: true
        operators:
          - type: recombine
            id: azdo-recombine
            source_identifier: attributes["log.file.path"]
            combine_field: body
            combine_with: "\n"
            is_first_entry: 'body startsWith "["'     
            max_log_size: 1048576
            output: parser-azdo
          - type: regex_parser
            id: parser-azdo
            regex: '^\xEF\xBB\xBF?\[(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}Z)\s+(?P<severity>[A-Z]+)\s+(?P<component>[^\]]+)\]\s+(?P<message>[\s\S]*)$'
            timestamp:
              parse_from: attributes.timestamp
              layout_type: gotime
              layout: '2006-01-02 15:04:05Z'
            on_error: send
            output: azdo-severity
          - type: severity_parser
            id: azdo-severity
            parse_from: attributes.severity
            mapping:
              trace: [VERB]
              info:  [INFO]
              warn:  [WARN]
              error: [ERROR]
            output: finalize
          - type: move
            id: finalize
            from: attributes.message
            to: body
    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 400
        spike_limit_mib: 100
      k8sattributes:
        extract:
          metadata:
            - k8s.pod.name
            - k8s.namespace.name
      resource:
        attributes:
          - key: service.name
            from_attribute: k8s.pod.name
            action: upsert
      batch: {}

    exporters:
      otlp:
        endpoint: otel-cluster-receiver.splunk.svc.cluster.local:4317
        tls:
          insecure: true
      debug:
        verbosity: detailed

    service:
      telemetry:
        logs:
          level: debug
      pipelines:
        logs:
          receivers: [filelog]
          processors: [memory_limiter, batch]
          exporters: [otlp, debug]
